Drupal/Security Scanner - Vulnerability Detection.txt
{
  "meta": {
    "instanceId": "drupal-security-scanner"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours", 
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "security-config",
              "name": "security_checks",
              "value": "={{ {\n  \"drupal_sites\": [\n    {\n      \"name\": \"Production Site\",\n      \"url\": \"https://your-drupal-site.com\",\n      \"admin_path\": \"/admin\",\n      \"api_endpoint\": \"/jsonapi\"\n    }\n  ],\n  \"checks\": [\n    \"core_version\",\n    \"module_updates\",\n    \"security_headers\",\n    \"ssl_certificate\",\n    \"admin_access\",\n    \"file_permissions\",\n    \"database_exposure\"\n  ]\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "configure-security",
      "name": "Configure Security",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.security_checks.drupal_sites[0].url }}",
        "options": {
          "response": {
            "response": {
              "includeHeaders": true
            }
          }
        }
      },
      "id": "check-headers",
      "name": "Check Security Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.security_checks.drupal_sites[0].url }}/core/CHANGELOG.txt",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "check-core-version",
      "name": "Check Core Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.security_checks.drupal_sites[0].url }}/admin/reports/updates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "check-updates",
      "name": "Check Module Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_DRUPAL_CREDENTIALS",
          "name": "Drupal Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "security-analysis",
              "name": "security_report",
              "value": "={{ {\n  \"site_name\": $('Configure Security').first().json.security_checks.drupal_sites[0].name,\n  \"site_url\": $('Configure Security').first().json.security_checks.drupal_sites[0].url,\n  \"scan_date\": new Date().toISOString(),\n  \"security_headers\": {\n    \"x_frame_options\": $('Check Security Headers').first().json.headers['x-frame-options'] || 'Missing',\n    \"x_content_type_options\": $('Check Security Headers').first().json.headers['x-content-type-options'] || 'Missing',\n    \"strict_transport_security\": $('Check Security Headers').first().json.headers['strict-transport-security'] || 'Missing',\n    \"x_xss_protection\": $('Check Security Headers').first().json.headers['x-xss-protection'] || 'Missing',\n    \"content_security_policy\": $('Check Security Headers').first().json.headers['content-security-policy'] || 'Missing'\n  },\n  \"drupal_version\": $('Check Core Version').first().json.data ? $('Check Core Version').first().json.data.match(/Drupal ([0-9.]+)/)?.[1] || 'Unknown' : 'Unknown',\n  \"ssl_status\": $('Check Security Headers').first().json.headers ? 'Valid' : 'Invalid',\n  \"admin_accessible\": $('Check Module Updates').first().json.status === 200,\n  \"vulnerabilities\": [],\n  \"risk_level\": 'low'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-security",
      "name": "Analyze Security",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "risk-assessment",
              "name": "risk_assessment",
              "value": "={{ {\n  \"missing_headers\": Object.values($json.security_report.security_headers).filter(h => h === 'Missing').length,\n  \"outdated_core\": $json.security_report.drupal_version !== 'Unknown' && parseFloat($json.security_report.drupal_version.split('.')[0]) < 10,\n  \"admin_exposed\": $json.security_report.admin_accessible,\n  \"ssl_issues\": $json.security_report.ssl_status !== 'Valid',\n  \"overall_risk\": 'calculating...'\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "assess-risk",
      "name": "Assess Risk",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Security_Scans",
        "operation": "append",
        "options": {},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scan_date": "={{ $json.security_report.scan_date }}",
            "site_name": "={{ $json.security_report.site_name }}",
            "site_url": "={{ $json.security_report.site_url }}",
            "drupal_version": "={{ $json.security_report.drupal_version }}",
            "missing_headers": "={{ $json.risk_assessment.missing_headers }}",
            "ssl_status": "={{ $json.security_report.ssl_status }}",
            "admin_accessible": "={{ $json.security_report.admin_accessible }}",
            "risk_level": "={{ $json.risk_assessment.missing_headers > 3 ? 'high' : $json.risk_assessment.missing_headers > 1 ? 'medium' : 'low' }}",
            "x_frame_options": "={{ $json.security_report.security_headers.x_frame_options }}",
            "x_content_type_options": "={{ $json.security_report.security_headers.x_content_type_options }}",
            "strict_transport_security": "={{ $json.security_report.security_headers.strict_transport_security }}"
          }
        }
      },
      "id": "log-security-scan",
      "name": "Log Security Scan",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1100, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.risk_assessment.missing_headers }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-high-risk",
      "name": "Filter High Risk",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "channel": "YOUR_SECURITY_CHANNEL",
        "text": "🚨 Security Alert - {{ $json.security_report.site_name }}\n\n⚠️ Risk Level: {{ $json.risk_assessment.missing_headers > 3 ? 'HIGH' : 'MEDIUM' }}\n🌐 Site: {{ $json.security_report.site_url }}\n🔒 Missing Security Headers: {{ $json.risk_assessment.missing_headers }}\n📊 Drupal Version: {{ $json.security_report.drupal_version }}\n🛡️ SSL Status: {{ $json.security_report.ssl_status }}\n📅 Scan Date: {{ new Date($json.security_report.scan_date).toLocaleString() }}\n\n⚡ Action Required: Review security configuration",
        "otherOptions": {}
      },
      "id": "security-alert",
      "name": "Security Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1500, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIALS",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Security": {
      "main": [
        [
          {
            "node": "Check Security Headers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Core Version",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Module Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Security Headers": {
      "main": [
        [
          {
            "node": "Analyze Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Security": {
      "main": [
        [
          {
            "node": "Assess Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Risk": {
      "main": [
        [
          {
            "node": "Log Security Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Security Scan": {
      "main": [
        [
          {
            "node": "Filter High Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Risk": {
      "main": [
        [
          {
            "node": "Security Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["drupal", "security", "vulnerability", "scanning"],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}

 