YT/YouTube Google Sheets Automation - Workflow.txt
{
  "meta": {
    "instanceId": "n8n-automation-hub-youtube-sheets-workflow"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        450
      ]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Video_Queue",
        "options": {
          "useAppend": false
        }
      },
      "id": "google-sheets-read",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        300,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompts-assignment",
              "name": "video_topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "prompts-assignment-2",
              "name": "video_style",
              "value": "={{ $json.style }}",
              "type": "string"
            },
            {
              "id": "prompts-assignment-3",
              "name": "target_audience",
              "value": "={{ $json.audience }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prompts",
      "name": "Prompts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        450
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional video script writer. Create an engaging video script for a {{ $json.video_topic }} video targeting {{ $json.target_audience }}. The style should be {{ $json.video_style }}. Include:\n\n1. Hook (first 3 seconds)\n2. Introduction\n3. Main content (3-4 key points)\n4. Call to action\n5. Outro\n\nMake it engaging and optimized for YouTube.",
              "role": "user"
            }
          ]
        },
        "outputParser": {
          "type": "structured",
          "schema": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Video title"
              },
              "description": {
                "type": "string",
                "description": "Video description"
              },
              "script": {
                "type": "string",
                "description": "Full video script"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Video tags"
              }
            }
          }
        }
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        700,
        450
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIALS",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Music_Library",
        "options": {
          "useAppend": false
        }
      },
      "id": "get-music",
      "name": "Get Music",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "template",
              "value": "YOUR_TEMPLATE_ID"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  title: $json.title,\n  script: $json.script,\n  music_url: $('Get Music').first().json.url\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-video",
      "name": "Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_JSON2VIDEO_CREDENTIALS",
          "name": "JSON2Video API"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Done"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "id": "switch",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1500,
        400
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Video_Queue",
        "operation": "update",
        "options": {
          "useAppend": false
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Error",
            "error_message": "={{ $json.error }}",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "error-log",
      "name": "Error Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1900,
        500
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Video_Queue",
        "operation": "update",
        "options": {
          "useAppend": false
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_url": "={{ $json.video_url }}",
            "status": "Video Created",
            "updated_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "add-video-url",
      "name": "Add Video URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1700,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "get-video-file",
      "name": "Get Video File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "title": "={{ $('OpenAI Chat Model').first().json.title }}",
        "description": "={{ $('OpenAI Chat Model').first().json.description }}",
        "tags": "={{ $('OpenAI Chat Model').first().json.tags.join(',') }}",
        "categoryId": "22",
        "privacyStatus": "public"
      },
      "id": "youtube",
      "name": "YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "YOUR_YOUTUBE_CREDENTIALS",
          "name": "YouTube OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Video_Queue",
        "operation": "update",
        "options": {
          "useAppend": false
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "youtube_url": "={{ $json.id }}",
            "status": "Published",
            "published_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "mark-as-done",
      "name": "Mark as Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2300,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIALS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Get Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Music": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Video URL": {
      "main": [
        [
          {
            "node": "Get Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video File": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Mark as Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "youtube",
    "automation",
    "google-sheets",
    "ai",
    "video-creation"
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
} 